{% extends 'base.html' %}

{% block content %}
<h3>Create account</h3>
{{ render_form(form) }}
<!-- <form id="registerForm" method="post">
    Username<br>
    <input type="text" name="username" required><br><br>
    Password<br> -->
    <!-- 密码输入框的 type 属性使用 password，会将输入值显示为圆点 -->
    <!-- <input type="password" name="password" required><br><br>
    Email<br>
    <input type="email" name="email" required><br><br>
    <input id="submitBtn" class="btn" type="submit" name="submit" value="Create">
</form> -->
<div id="loadingSpinner" style="display: none;">Creating...</div>
<p>Already have an account? <a href="{{ url_for('login') }}">Login here</a>.</p>

<script>
document.getElementById('registerForm').addEventListener('submit', function(event) {
    // When the form is submitted, hide the submit button and show the loading spinner
    document.getElementById('submitBtn').style.display = 'none';
    document.getElementById('loadingSpinner').style.display = 'block';
});
</script>
{% endblock %}
